*{
  cursor: pointer;
}
body{
	background-color: #B5EAEA;
	margin: 0px;
}
table{
-webkit-box-shadow: 11px 8px 55px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 8px 55px -9px rgba(0,0,0,0.75);
box-shadow: 11px 8px 55px -9px rgba(0,0,0,0.75);
}
table, th, td {
  border:2px solid #FFBCBC;
  background-color: #EDF6E5;
  font-family: Times new roman;
  font-size: 1.2em;
  color: #F38BA0;
  padding: 15px;


}

div{
  padding:10%;
  padding-top: 2%;
}
#table_body{
  margin: 50px;

}
